* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #101F2B;
  }
  .ab {
    color: #F4AA41;
}
.nn {
    background-color: #fb842c;
    border-radius: 20px;
}
.bg {
    border-radius: 9px;
    background-color: #F4AA41;
}
.i {
  color: #101F2B;
}
.bg-o {
    border-radius: 9px;
    background-color: #0D1922;
}
.mobile-menu{
  display: none;
}

@media screen and (max-width: 768px){
  .mobile-menu {
      background-color: rgba(13, 13, 13, 0.844);
      display: none;
      position: absolute;
      right: 5px;
      top: 42px;}

      .mobile-navs {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #fff;
          padding: 15px 30px;
          margin: auto;
      }

 .show-menu{
  display: block;
 }
}